{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Agence Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus leo, sollicitudin id lacus sit amet, gravida lobortis sapien. 
            Ut elementum nisi id lobortis sagittis. Morbi ultrices auctor metus eget pretium. Aenean at ligula vel urna convallis porta quis molestie lacus. 
            Etiam tempus consequat vehicula. Integer et sem vel quam gravida gravida. Nullam vitae laoreet libero. Fusce in venenatis tortor. Ut ut maximus ipsum, 
            in fringilla urna. Cras facilisis tellus sed mi fringilla, a vulputate sem sollicitudin. Vestibulum at dapibus urna, eu scelerisque neque. Vivamus pretium 
            dapibus fringilla. Morbi lacinia dolor mi, eu interdum est hendrerit non. Nulla tristique libero non metus malesuada, quis consequat lorem aliquam. 
            Nunc tempus consectetur cursus.</p>
        </div>
    </div>
{% endblock %}
